<body id="loginPage">
  <div class="topnav" id="topnav">
    <div class="topnav-centered">
      <a class="navbar-image" href="/index">
        <img src="images\16-512.png" width="125" height="125" alt="topIcon" id="iconer">
      </a>
    </div>
    <div class="topnav-left">
      <a class="navbar-brand text-center" href="/finder">Find </a>
      <a class="navbar-brand text-center" href="/hosting">Host </a>
    </div>
    <div class="topnav-right">
      <a class="navbar-brand form-inline" href="/contact">Contact Us</a>
      <a class="navbar-brand" href="/logout">Logout</a>
    </div>

  </div>

  <div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
      <div class="text-center">
        {{#with userdata}}
        <ol>
          <h1 class="display-4 lead text-center">Welcome to our contact page <span class="member-name"
              data-id="{{this.id}}">{{this.email}}</span></h1>
          <p class="display-6 lead text-center">Here you can check on the status of your current listings and create new
            listings.</p>
        </ol>
        {{/with}}
      </div>
    </div>
  </div>
  <div class="jumbotron" id="jumboTwo">
  
  </div>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/finder.js"></script>
</body>