<body>
  <nav class="navbar navbar-dark bg-primary d-flex justify-content-end">
    <a class="navbar-brand flex-grow-1" href="/">
      <img src="images\16-512.png" width="40" height="40" alt="">
    </a>
    <a class="navbar-brand form-inline " href="/members">
      Contact Us
    </a>
    <a class="navbar-brand" href="/logout">
      Logout
    </a>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="container">
          <div class="text-center">
            <h1 class="display-4 lead text-center">Welcome <span class="member-name"></span></h1>
            <p class="display-6 lead text-center">Here you can search for active listings.</p>
          </div>
        </div>
    </div>
  
  </div>
  <div class="jumbotron" id="jumboTwo">
    <h1 class="display-4 lead text-center">Search!</h1>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
    
</body>