<body>
  <nav class="navbar navbar-dark bg-primary d-flex justify-content-end">
    <a class="navbar-brand flex-grow-1" href="/index">
      <img src="images\16-512.png" width="40" height="40" alt="">
    </a>
    <a class="navbar-brand form-inline " href="/index">
      Contact Us
    </a>
    <a class="navbar-brand" href="/logout">
      Logout
    </a>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="container">
        <div class="text-center">
          <h1 class="display-4 lead text-center">Welcome <span class="member-name"></span></h1>
          <p class="display-6 lead text-center">Here you can check on the status of your current listings and create new
            listings.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron" id="jumboTwo">
    <h1 class="display-4 lead text-center">Garages you have listed!</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
Create a Listing    </button>
    <hr class="my-4">
    <p>Below is a list of garages you own and have listed.</p>
 <div class="list-groupead text-center" id="units">
</div>
 
  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h4 class="modal-title  text-center">Enter garage Info</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <form action="/action_page.php" class="was-validated">
              <div class="form-group">
                <label for="ona">Owners Name:</label>
                <input type="text" class="form-control" id="ona" placeholder="Enter name" name="name" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="desc">Description:</label>
                <input type="text" class="form-control" id="desc" placeholder="Enter Description" name="description"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="sa">Street Address:</label>
                <input type="text" class="form-control" id="sa" placeholder="Enter street address" name="address"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="ccity1">City:</label>
                <input type="text" class="form-control" id="ccity1" placeholder="Enter city name" name="city" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="sstae">State:</label>
                <input type="text" class="form-control" id="sstae" placeholder="Enter State" name="state" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="zzip">Zip:</label>
                <input type="text" class="form-control" id="zzip" placeholder="Enter Zip" name="zip" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="form-group">
                <label for="ccap">Capacity:</label>
                <input type="number" class="form-control" id="ccap" placeholder="Enter capacity" name="capacity"
                  required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>

              <div> <input type="checkbox" name="tools" value="true"> Do you have tool for use?</div>
              <div> <input type="checkbox" name="climate" value="true"> Is your space climate controlled?</div>
              <div>
                 <div></div>
            
              </div>
            </form>
        </div>
        <div class="modal-footer">
              <button id="submit-unit" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/finder.js"></script>
</body>