<body id="loginPage">


  <div class="topnav" id="topnav">
    <div class="topnav-centered">
      <a class="navbar-brand flex-grow-1" href="/index">
        <img src="images\16-512.png" width="125" height="125" alt="topIcon" id="iconer">
      </a>
    </div>
    <div class="topnav-left">
      <a class="navbar-brand text-center" href="/finder">Find </a>
      <a class="navbar-brand text-center" href="/hosting">Host </a>
    </div>
    <div class="topnav-right">
      <a class="navbar-brand form-inline" href="/contact">Contact Us</a>
      <a class="navbar-brand" href="/logout">Logout</a>
    </div>

  </div>




  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner mt-4 pt-4">
      <div class="carousel-item active">
        <div class="carousel-caption d-md-block">
          <p class="lead text-center font-weight-bold" id="h1Size">Winter coming?</p>
          <p class="lead text-center font-weight-bold" id="pSize">Choose from any garages in your area to store your
            vehicle!</p>
        </div>
        <img src="images\pic1.jpg" id="cImgs" class="d-block w-100" alt="garage">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block">
          <p class="text-center font-weight-bold" id="h1Size">Have space?</p>
          <p class="lead text-center font-weight-bold" id="pSize">Want to make some extra cash? Host today!</p>
        </div>
        <img src="images\pic3.jpg" class="d-block w-100" alt="garage">
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-md-block">
          <p class="text-center font-weight-bold" id="h1Size">Need some tools?</p>
          <p class="lead text-center font-weight-bold" id="pSize">Choose from local hosts in your area who have garages
            with available tools!</p>
        </div>
        <img src="images\pic2.jpg" class="d-block w-100" alt="garage">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">
    <h1 class="display-4 lead text-center text-light largeText">Why Choose Garaged?</h1>
    <div class="row mt-4 mb-4">
      <div class="col align-self-start mt-2">
        <div class="card-header">
          <h3 class="text-center text-light">Elemental Protection</h3>
        </div>
        <div class="card-body">
          <p class="card-text indexPText">Do you have a vehicle that you'd like to protect from rain, hail or too much sun exposure? Garaged is the perfect way to assure that your prized possession is safe from environmental harm by offering personal storage that you get to approve before any money is exchanged.</p>
        </div>
      </div>
      <div class="col align-self-start mt-2">
        <div class="card-header">
          <h3 class="text-center text-light">Money Maker</h3>
        </div>
        <div class="card-body">
          <p class="card-text indexPText">One of the primary keys to financial freedom is finding ways to create residual income. Garaged offers that exact opportunity by allowing you to turn unused storage space into an additional stream of income.</p>
        </div>
      </div>
      <div class="col align-self-start mt-2">
        <div class="card-header">
          <h3 class="text-center text-light">Property Safety</h3>
        </div>
        <div class="card-body">
          <p class="card-text indexPText">One of the great things about using Garaged versus a traditional storage unit rental is individualized security. Each storage renter is able to meet and build a rapport with their storage host, survey the area by which your property is being stored and verify the identity of the individual being held accountable for providing a safe space for your item.
</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </bodyid="loginPage">