form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: rgb(167, 167, 167);
}


.carousel .item {
  width: 100%;
  min-height: 500px;
  background-color: #777;
  justify-content: center;
}

.carousel-caption{
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  top: 50px;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  
}

.carousel-inner {
  opacity: 0.75;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  
}
.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  border-radius: 2rem;
  background-color: #dadada;
  justify-content: center;

}
.carder {
  float: none; 
  border-radius: 2rem;
  background-color: #dadada;
  justify-content: center;
}

#jumboTwo{
  margin: 20px;
}

@media screen and (max-width: 768px){
  .modal-content {
    width: 85%; 
  }

  }