form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: rgb(167, 167, 167);
}


.carousel .item {
  width: 100%;
  min-height: 500px;
  background-color: #777;
  justify-content: center;
}

.carousel-caption{
  color: rgb(245, 245, 122);
  font-weight: bold;
  top: 50px;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  
}

.carousel-inner {
  font-size: 50px;
  opacity: 0.75;
  top: 0;
  left: 0;
  min-width: 100%;
  /* min-height: 500px; */
  
}
#garageIcons{
  display:inline-block;
  margin-right: 10px;
  background-color: #dbdbdb;
}

#iconer{
  filter: brightness(0) invert(1);
}

#optionsFH {
  margin:auto; 
  float: none; 
  margin-bottom: 10px; 
  border-radius: 2rem;
  background-color: #dadada;
  justify-content: center;
}

.carder {
  float: none; 
  border-radius: 2rem;
  background-color: #dadada;
  justify-content: center;
}


#jumboTwo{
  margin: 20px;
}

#h1Size{
  font-size: 6vw;
  text-shadow: 5px 5px rgb(26, 26, 26);

}
#pSize{
  font-size: 2.5vw;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

@media screen and (max-width: 768px){
  .modal-content {
    width: 85%; 
  }
  #h1Size{
    top: -50px;
  }
  #pSize{
    top: -50px;
  }

  .carousel-caption{
    top: 0px;
  }

  };